         <div class="container">    
          <div class="row justify-content-center">
           <div class="col col-lg-8 col-md-12 col-sm-12 col-12 aboutCol">
            <h2 class="header">About Diba</h2>
             <p class="paragraph">Ive been a dog lover since birth.
                 I love to be active outside and always looking for a companion to be active with
                 If you let me, I will care for your four legged family member inside the comfort of your own home.
                 I am completely comfortable bathing your dogs, giving them medication and any other special recommendations you may have.
                 Any age and any breed...
                 I will be more than happy to take care of.
                 I am not able to have any dogs of my own at this time, so I promise to spoil your dog as if he or she were my own!
                 I promise to send frequent updates and pictures to ensure your fur babies are int he best care possible.
                 Let the adventures begin!
             </p>
              </div>
               <div class="col col-lg-1"></div>
                <div class="col col-lg-3 col-md-12 col-sm-12 col-12 contactCol">
                 <h4 class="header">Page Creator</h4>
                 <img class="d-block w-25 mh-25" src="./images/author_image.jpg">
                 <br />
                  <ul class="socialList">
                   <li style="float: center">
                    <a href="https://www.facebook.com/pierre.saladino/" class="icon">
                     <img src="./images/facebook.png" alt="facebook" style="max-width: 50px">
                    </a>
                   </li>
                  <br />
                 <li style="float: center">
                <a href="https://www.instagram.com/pierre.saladino/" class="icon">
               <img src="./images/instagram.png" alt="instagram" style="max-width: 50px">
              </a>
             </li>
            <br />
            <li style="float:center">
             <a href="./Psaladin_resume.pdf" download>
	          <button type="button" class="btn btn-primary">Download Resume</button>
               </a>
                </li>
            </ul>
           </div>
          </div>
         </div>