         <div class="container">    
          <div class="row justify-content-center">
           <div class="col col-lg-8 col-md-12 col-sm-12 col-12 aboutCol">
            <h2 class="header">Overview: </h2>
             <p class="paragraph">A manufacturing tool service tracker that logs the history of who
                serviced the tool last. When many employees use the same tool, it is hard to keep track of
                what has been done. The service tool tracker would track what each employee has done
                before. The database that would be designed in this project would help to keep track of
                the work that has been done and what needs to be done in the future. To construct this
                database we need to have information about the employees and the tools. Certifications
                need to be tracked so that the correct personnel is used for the job. This prevents errors
                from someone working on a tool aspect who is not qualified. A service tracker would be
                suitable for large manufacturing companies that are constantly adding more tools
             </p>
              </div>
               <div class="col col-lg-1"></div>
                <div class="col col-lg-3 col-md-12 col-sm-12 col-12 contactCol">
                 <h4 class="header">Team Members</h4>
                  <ul class="memberList">
                    <li style="float:center">
                     <h4 class="header">Pierre Saladino </h4>
                      </li>
                       <li style="float:center">
                        <h4 class="header">Arman Askari Zadeh </h4>
                    </li>
                   </ul>
                     <ul class="socialList">
                    <li style="float:center">
                     <a href="./Project Step 3 Final version.pdf" download>
	                  <button type="button" class="btn btn-primary">Download Project Draft PDF</button>
                   </a>
                  </li>
                 </ul>
                </div>
               </div>
              </div>