
<div class="display-2">
  <h1>Add or Delete Employees</h1>
    </div>

<form>
 <fieldset>
  <legend>Adding Employee:</legend>
  <label>First name:</label>
  <input type="text"><br><br>
  <label>Last name:</label>
  <input type="text"><br><br>
  <label>email:</label>
  <input type="text"><br><br>
  <input type="submit" value="Submit">
 </fieldset>
</form>
<table>
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>   
  </tr>
  <tr>
  	<td>1</td>
    <td>Arman</td>
    <td>zadeh</td>
    <td>arman@example.com</td>    
    <td><input type="submit" value="delete"></td>
   
  </tr>
    <tr>
  	<td>2</td>
    <td>Jack</td>
    <td>Johny</td>
    <td>Jack.Johny@example.com</td>
    <td><input type="submit" value="delete"></td>
   
  </tr>
</table>
