
<div class="display-2">
  <h1>Add or Delete Employees</h1>
    </div>

<form>
 <fieldset>
  <legend><h3>Add New Employee:</h3></legend>
  <input type="text" id="inlineFormInput" placeholder="First Name"><br/>
  <input type="text" id="inlineFormInput" placeholder="Last Name"><br/>
  <input type="text" id="inlineFormInput" placeholder="Email"><br/>
  <input class="btn btn-info" type="submit" value="Submit">
 </fieldset>
</form>
<br/>
<br/>

<div>
  <h2>Current Employee's</h2>
</div>
<table>
    <thead> 
        <th>ID</th> 
        <th>FirstName</th>
        <th>LastName</th> 
        <th>Email</th>
    </thead> 
      <tbody>
        <tr>
          <td>1</td>  
          <td>Arman</td>
          <td>Zadeh</td>
          <td>Arman@example.com</td> 
          <td><button type="button" class="btn btn-danger">Delete</button></td>
        </tr> 
        <tr>
         <td>1</td>  
          <td>Pierre</td>
          <td>Saladino</td>
          <td>Pierre@example.com</td> 
          <td><button type="button" class="btn btn-danger">Delete</button></td>
        </tr>   
      </tbody>
</table> 
<button type="button" class="btn btn-success">Update Table</button>
