
<div class="display-2">
  <h1>Add or Delete Employees</h1>
    </div>

<form>
 <fieldset>
  <legend>Personalia:</legend>
  <label>First name:</label>
  <input type="text"><br><br>
  <label>Last name:</label>
  <input type="text"><br><br>
  <label>email:</label>
  <input type="text"><br><br>
 </fieldset>
</form>
