
<div class="display-1">
  <h1>Manufacturing Tool Tracker</h1>
</div>

        <div class="homeLogo-item">
            <img class="d-block w-60 h-40 rounded-circle" src="./images/manfLogo.jpg">
        </div>


 
</div>