
<div class="display-1">
  <h1>Manufacturing Tool Tracker</h1>
</div>
<br/>
<br/>

        <div class="rotate">
            <img class="d-block w-100 h-100 rounded-circle " src="/manflogo.jpg">
			
        </div>
 
</div>