
<div class="display-2">
  <h1>Reviews</h1>
    </div>
      <div class=reviews>
        <img class="d-block w-65 mh-50" src="./images/review1.png">
    <img class="d-block w-65 mh-50" src="./images/review3.png">
  <img class="d-block w-65 mh-50" src="./images/review3.png">
</div>