<div class="price">
<img class="d-block w-25 mh-25" src="./images/image6.png"> 
</div>


<form action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method="post">
  <div class="form-group">
    <label for="getInfo">Contact Info</label>
    <input type="email" class="form-control" id="getInfo" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="inputInfo">What would you like to know</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
   <button type="submit" value="submit" class="btn btn-info btn-lg">Submit</button>
  </div>
 
</form>


    