
<div class="display-2">
  <h1>Add or Delete Tools</h1>
    </div>

<form>
 <fieldset>
  <legend><h3>Tool information:</h3></legend>
  <input type="text" id="inlineFormInput" placeholder="Tool ID">
  <input type="text" id="inlineFormInput" placeholder="Tool Group">
  <input class="btn btn-info" type="submit" value="Submit">
 </fieldset>
</form>
<br/>
<br/>


<table>
    <thead> 
        <th>ToolID</th>
        <th>ToolGroup</th> 
    </thead> 
      <tbody>
        <tr>
          <td>Machine A</td>
          <td>Goup 1</td> 
          <td><button type="button" class="btn btn-danger">Delete</button></td>
        </tr> 
        <tr>
          <td>Machine B</td>
          <td>Goup 2</td> 
          <td><button type="button" class="btn btn-danger">Delete</button></td>
        </tr>   
      </tbody>
      
</table> 


