
<div class="display-2">
  <h1>Add or Delete Tools</h1>
    </div>

<form>
 <fieldset>
  <legend>Tool information:</legend>
  <label>Tool ID</label>
  <input type="text"><br><br>
  <label>Tool Group</label>
  <input type="text"><br><br>
  <input type="submit" value="Submit">
 </fieldset>
</form>
<br><br>
<table>
  <tr>
    <th>ID</th>
    <th>Tool ID</th>
    <th>Tool Group</th>
   
  </tr>
  <tr>
  	<td>1</td>
    <td>Machine A</td>>    
    <td><input type="submit" value="delete"></td>
    <td><input type="submit" value="update"></td>
   
  </tr>
    <tr>
  	<td>2</td>
    <td>Machine B</td>>    
    <td><input type="submit" value="delete"></td>
    <td><input type="submit" value="update"></td>
   
  </tr>
</table>
