
<div class="display-2">
  <h1>Add or Delete Tools</h1>
    </div>

<form>
 <fieldset>
  <legend>Tool information:</legend>
  <label>Tool ID</label>
  <input type="text"><br><br>
  <label>Tool Group</label>
  <input type="text"><br><br>
  <input type="submit" value="Submit">
 </fieldset>
</form>
